@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base { 
    .font-sans{
        font-family: 'Quattrocento Sans', sans-serif;
    }
    body{
        font-family: 'Quattrocento Sans', sans-serif;
        @apply bg-main-dark text-white
    }
}
@layer components{
    .commonBox{
        @apply bg-secondary p-4 rounded-2xl min-h-[250px] h-full
    }
    .commonBox-title-wrap{
        @apply flex items-center gap-4 mb-5
    }
    .commonBox-title-wrap h4{
        @apply font-medium text-lg font-robot
    }
    input.error{
        @apply border-red-500 focus:outline-none
    }
}
@layer utilities{
    .generator-button{

        @apply bg-btn-primary py-2 px-4 rounded-xl shadow-xl shadow-btn-primary/[0.35] font-bold text-lg  flex items-center gap-2;
    }
    .download-button{
        @apply bg-error-primary py-2 px-4 rounded-xl shadow-xl shadow-error-primary/[0.35] font-bold text-lg  flex items-center gap-2
    }
}
/* Firefox */
* {
    scrollbar-width: thin; 
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.327);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.835);
    border-radius: 14px; 
  }