@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base { 
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    .font-sans{
        font-family: 'Quattrocento Sans', sans-serif;
    }
    body{
        font-family: 'Quattrocento Sans', sans-serif;
        @apply bg-main-dark text-white
    }
    .bar-background{
        @apply bg-white/[0.03] backdrop-blur-lg;
    }
}
@layer components{
    
    .commonBox{
        @apply bg-white/[.05] backdrop-blur-lg p-4 rounded-2xl min-h-[250px] h-full
    }
    .commonBox-title-wrap{
        @apply flex items-center gap-4 mb-5
    }
    .commonBox-title-wrap h4{
        @apply font-medium text-lg font-robot
    }
    input.error{
        @apply border-red-500 focus:outline-none
    }
}
@layer utilities{
    .generator-button{

        @apply bg-btn-primary py-2 px-4 rounded-xl shadow-xl shadow-btn-primary/[0.35] font-bold text-lg  flex items-center gap-2;
    }
    .download-button{
        @apply bg-error-primary py-2 px-4 rounded-xl shadow-xl shadow-error-primary/[0.35] font-bold text-lg  flex items-center gap-2
    }
}
/* Firefox */
* {
    scrollbar-width: thin; 
    background-color: transparent;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.327);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.835);
    border-radius: 14px; 
  }

  .woocommerce-product-gallery .flex-viewport {
    position: relative;
}
ul.flex-direction-nav {
    position: relative;
    z-index: 2;
    top: 75%;
    left: 0; 
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    visibility: visible;
    pointer-events: none;
    justify-content: center;
}
.gallery .gallery-item, li.flex-nav-prev {
    float: none!important;
}
li.flex-nav-next {
    float: none!important;
}