@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base { 
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    .font-sans{
        font-family: 'Quattrocento Sans', sans-serif;
    }
    body{ 
        @apply bg-main-dark text-white font-mon
    }
    .bar-background{
        @apply bg-white/[0.03] backdrop-blur-lg;
    }
}
@layer components{
    
    .commonBox{
        @apply bg-white/[.05] backdrop-blur-lg p-4 rounded-2xl min-h-[250px] h-full
    }
    .commonBox-title-wrap{
        @apply flex items-center gap-4 mb-5
    }
    .commonBox-title-wrap h4{
        @apply font-medium text-lg font-robot
    }
    .page-upper-content-wrap{
        @apply flex 2xl:flex-row flex-col   xl:justify-between xl:items-center mt-2 mb-5 gap-5
    }
    input.error{
        @apply border-red-500 focus:outline-none
    }
    .home-heading{
      @apply text-5xl leading-[60px] font-semibold 
    }
    .custom-selection-wrap >div >div{
      @apply bg-main-dark text-cyan-400 border-none
    }
    .section-padding{
      @apply pt-[120px] 2xl:pt-[200px]
    }
}
@layer utilities{
    .generator-button{

        @apply bg-btn-primary py-2 px-4 rounded-xl shadow-xl shadow-btn-primary/[0.35] font-bold text-lg  flex items-center gap-2;
    }
    .download-button{
        @apply bg-cyan-600 py-2 px-4 rounded-xl shadow-xl shadow-cyan-500/[0.35] font-bold text-lg  flex items-center gap-2
    }
    
}
/* Firefox */
* {
    scrollbar-width: thin; 
    background-color: transparent;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.327);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.835);
    border-radius: 14px; 
  }
  .home-banner-button{ 
    display: inline-block; 
    padding: 10px 24px;   
    text-decoration: none;
    margin-top: 27px;
    color: #fff; 
    transition: all .3s;
    position: relative;
    z-index: 100;
    @apply bg-cyan-500
}
.gen-bg img{
  
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  
}
/* adding button style with before after  */
/* .home-banner-button::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; 
    width: 50%;
    height: 100%; 
    z-index: -1;
    transform: translateY(50%) skew(30deg) scaleY(.7);
    transition:transform .3s;
    box-shadow: -8px 2px 5px rgb(0 0 0 / 20%);
    @apply bg-cyan-500 ;
}
.home-banner-button::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0; 
    width: 50%;
    height: 100%; 
    z-index: -1;
    transform: translateY(-50%) skew(30deg) scaleY(.7);
    transition:transform .3s;
    box-shadow: 8px 2px 5px rgb(0 0 0 / 20%);
    @apply bg-cyan-500 ;
}
/* button hover  */
/* .home-banner-button:hover::before{
    transform: translateY(0%);  
    box-shadow: none; 
}
.home-banner-button:hover::after{
    transform: translateY(0%); 
    box-shadow: none;  
}  */


.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
  }
  
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    --min-size: 2px;
    --max-size: 15px;
  }
  
  .dot { 
    margin: 5px;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @apply bg-cyan-500
  }
  
  .dot:nth-child(1) {
    animation-delay: 0.2s;
  }
  .dot:nth-child(2) {
    animation-delay: 0.4s;
  }
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  .dot:nth-child(4) {
    animation-delay: 0.8s;
  }
  .dot:nth-child(5) {
    animation-delay: 1s;
  }
  
  @keyframes loader {
    from {
      width: var(--min-size);
      height: var(--min-size);
      border-radius: calc(var(--min-size) / 2);
    }
    to {
      width: var(--max-size);
      height: var(--max-size);
      border-radius: calc(var(--max-size) / 2);
    }
  }